<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        /* Custom Admin Styling */
.module h2, .module caption {
    background: #1976d2 !important;
    color: white !important;
}

a:link, a:visited {
    color: #1976d2;
}

.button, input[type=submit], input[type=button] {
    background: #1976d2 !important;
    border-color: #1976d2 !important;
}

.object-tools a {
    background: #388e3c !important;
}
    </style>
</body>
</html>